@font-face {
    font-family: 'jenna_sueregular';
    src: url("webfontkit-jennasue/jennasue-webfont.woff2") format('woff2'),
    url('webfontkit-jennasue/jennasue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f4f2f1;
}

/* NAVIGATION */

    #nav-button {
        background-color: #8667ab;
    }

    #back-flower-thing {
        height: 750px;
        width: 750px;
    }

/* BANNER */

    #banner-section > .row {
        --bs-gutter-x: 0;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    #banner-section #ericka {
        justify-content: end;
    }

    #banner-section #heart {
        justify-content: center;
    }

    #banner-section #hair {
        justify-content: start;
}

/* FOURTH SECTION */

    #fourth-section-container {
        height: 500px;
        margin: 150px 0 150px 0;
        align-self: stretch;
    }

        .side-section {
            background-color: #e4d8d8;
            height: 500px;
            position: relative;
        }

            .img-container {
                height: auto;
                z-index: 1;
                margin-top: 8%;
            }

                .img-ericka-flex {
                    position: absolute;
                    z-index: 3;
                }

                .img-leaves-flex {
                    position: absolute;
                    z-index: 2;
                    margin-top: -11%;
                    left: 11%;
                    width: auto;
                }

                .img-back-flex {
                    position: absolute;
                }

                     #img-back {
                        margin-top: 2%;
                        margin-left: 2%;
                    }

            .buffer {
                flex: 2;
            }

            .inside-words {
                margin-top: 5%;
                flex: 3;
            }

            #nice-words-bottom {
                font-family: jenna_sueregular, serif;
                font-size: 8vmax;
                color: #8667ab;
                position: absolute;
                bottom: -18%;
            }

/* SERVICES */



/* FORM */

    #form-section {
        background-color: #e4d8d8;
    }

        #form-section #submit-btn {
            background-color: #8667ab;
        }

/* MOBILE STUFF */

    @media screen and (max-width: 1320px) {
        .img-container {
            margin-top: 13%;
        }

        .inside-words {
            flex: 2;
        }

        #img-leaves {
            width: 95%;
            margin-top: -7%;
            margin-left: 5%;
        }

        #img-ericka, #img-back {
            width: 95%;
        }

        #nice-words-bottom {
            font-size: 10vmax;
            bottom: -16%;
        }
    }

    @media screen and (max-width: 1140px) {
        #img-leaves {
            width: 90%;
            margin-top: -7%;
            margin-left: 5%;
        }

        #img-ericka, #img-back {
            width: 90%;
        }

        #nice-words-bottom {
            font-size: 10vmax;
            bottom: -13%;
        }
    }

    @media screen and (max-width: 992px) {
        .side-section {
            height: 425px;
        }

        #img-leaves {
            width: 80%;
            margin-top: -7%;
            margin-left: 5%;
        }

        #img-ericka {
            width: 80%;
        }

        #img-back {
            width: 77%;
        }

        #nice-words-bottom {
            font-size: 9vmax;
            bottom: -13%;
        }
    }

    @media screen and (max-width: 768px) {

    /* FOURTH SECTION */
        #fourth-section-container {
            margin-left: 12%;
        }

        .side-section {
            flex-direction: column;
            height: auto;
            align-items: center;
        }

        .img-container {
            margin: 15px auto 7px auto;
        }

            .img-ericka-flex {
                position: static;
                justify-content: space-around;
            }

            .buffer, #img-leaves, #img-back, .empty-section {
                display: none;
            }

        .inside-words {
            margin: 7px auto 15px auto;
        }

        #nice-words-bottom {
            bottom: -12%;
        }

    /* SERVICES */
        /* TODO: Starting below, may go into non-media css as standard */
        .services-bg-container {
            height: 275vh;
            margin-bottom: 250px;
            z-index: 1;
        }

            .img-flower-bg {
                object-fit: cover;
            }

        .quote-container {
            width: 68vw;
            height: 50vh;
            left: 15%;
            top: -5%;
            background-color: #8667ab;
            opacity: 90%;
        }

            .img-quotes {
                top: -10%;
                left: 75%;
            }

                .services-inner-container {
                    height: 250vh;
                    width: 68vw;
                    top: 15%;
                    left: 15%;
                    z-index: 2;
                }

                    .services-inner-container > .container-fluid {
                        backdrop-filter: blur(20px);
                        z-index: 3;
                    }

                        .services-inner-content {
                            height: 100%;
                        }

                            .img-services {
                                max-width: 90%;
                                height: auto;
                            }

                            .services-words {
                                width: 90%;
                                height: auto;
                                background-color: white;
                            }
    }

    /* i-Phone 12 Pro Max */
    @media only screen and (min-width: 428px) and (max-width: 428px){
        #nice-words-bottom {
            font-size: 5vmax;
            bottom: -8%;
        }
    }
