
@font-face {
    font-family: 'jenna_sueregular';
    src: url("webfontkit-jennasue/jennasue-webfont.woff2") format('woff2'),
    url('webfontkit-jennasue/jennasue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f2f1;
}

/* NAVIGATION */

    #navigation {
        display: flex;
        position: relative;
        background-image: url("https://www.fillmurray.com/1900/750");
        background-size: cover;
        height: calc((100vw * 15)/38);
        width: 100%;
    }

        #nav-hearts {
            position: absolute;
            height: 24%;
            top: 10%;
            left: 5%;
        }

        #nav-button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 40%;
            right: 3%;
            height: 8.35%;
            width: 9.71%;
            font-size: 1.2vw;
            border-radius: 0.3rem;
            color: #fff;
            background-color: #8667ab;
            text-decoration: none;
        }

/* BACKGROUND FLOWER THING */

    #flower-container {
        position: relative;
        margin: 0;
        padding: 0;
        display: none;
    }

    #back-flower-thing {
        position: absolute;
        opacity: 25%;
        height: 750px;
        width: 750px;
    }

/* BANNER */

    #banner-section {
        display: none;
    }

    #banner-section-2 {
        display: flex;
        justify-content: center;
        margin: 10vh auto;
        width: 100%;
        padding: 0 .75rem;
    }

        .banner-img {
            margin-bottom: 10vh;
            margin-top: 10vh;
            height: 10vmax;
        }

/* INSPIRATIONAL QUOTE */

    .insp-container {
        position: relative;
        height: 17vmax;
    }

        .insp-first-line, .insp-second-line, .placeholder {
            position: absolute;
            font-family: jenna_sueregular, serif;
            font-size: calc(3.25rem + 1vw);
            color: whitesmoke;
            line-height: 70%;
            width: max-content;
            right: 15%;
            background-color: #D4AEB0;
            z-index: 2;
        }

            .insp-first-line {
                top: 10%;
                margin-bottom: 1.5rem;
            }

                .insp-first-line + .placeholder {
                    top: 13%;
                }

            .insp-second-line {
                bottom: 10%;
                margin-top: 1.5rem;
            }

                .insp-second-line + .placeholder {
                    bottom: 9%;
                }

            .placeholder {
                color: rgba(134, 103, 171, 0);
                background-color: #90877B;
                right: 14%;
                z-index: 1;
                min-height: 0.8em;
            }

/* THIS IS ERICKA */

    .ericka-container {
        margin: 10vh auto 20vh auto;
    }

        .ericka-container > .row {
            width: 80vw;
            margin: auto;
        }

            .inside-words {
                position: relative;
                background-color: #e4d8d8;
                height: 101vmax;
                text-align: center;
            }

            .img-ericka, .img-leaves, .img-back {
                height: 64.3vmin;
                width: 64.3vmin;
                bottom: -7%;
                left: 15%;
                z-index: 3;
            }

            .img-leaves {
                bottom: 17.47vmin;
                /*left: 0;*/
                z-index: 2;
            }

            .img-back {
                bottom: -8%;
                left: 17%;
                z-index: 1;
            }

            #nice-words {
                position: absolute;
                font-family: jenna_sueregular, serif;
                font-size:  calc(5rem + 1vw);
                letter-spacing: 3px;
                color: rgba(134, 103, 171, 0.5);
                transform: rotate(270deg);
                left: -1.9em;
                top: 16%;
            }

/* ANOTHER QUOTE */

    .another-quote {
        font-family: jenna_sueregular, serif;
        font-size: calc(4rem + 1vw);
    }


/* SERVICES */

    .services-section {
        margin-top: 20vh;
        padding: 0;
    }

        .services-bg-container {
            height: 275vh;
            margin-bottom: 250px;
            z-index: 1;
            background-image: url("/images/flower-bg.jpg");
            background-repeat: no-repeat;
        }

            .quote-container {
                width: 68vw;
                height: 50vh;
                top: 5%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background-color: #8667ab;
                opacity: 90%;
                font-size: 1.5rem;
            }

            .services-inner-container {
                position: absolute;
                height: 250vh;
                width: 68vw;
                top: 18%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
            }

                .services-inner-container > .container-fluid {
                    background-color: #f4f2f1;
                    z-index: 3;
                }

                    .img-services {
                        max-width: 90%;
                        height: auto;
                    }

                    .services-words {
                        width: 90%;
                        height: auto;
                        background-color: white;
                    }

            .service-row {
                display: none;
            }

/* FORM */

    .form-section {
        background-color: #e4d8d8;
    }

        .form-section #submit-btn {
            background-color: #8667ab;
        }

/* FOOTER */

    .list-group-item {
    background-color: #f4f2f1;
    border: none;
    }

        .facebook {
    color: blue;
    }

        .instagram .fab {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

        .design {
            font-size: calc(.75rem + .5vw);
        }

/* MEDIA */

    @media screen and (min-width: 576px) {

    /* BANNER */

        #banner-section {
            display: flex;
            justify-content: center;
        }

        #banner-section-2 {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {

    /* BANNER */

        .banner-img {
            height: 12vmax;
        }

    /* INSPIRATIONAL QUOTE */

        .insp-first-line, .insp-first-line + .placeholder {
            font-size: calc(3.5rem + 1vw);
            left: 50%;
            transform: translateX(-50%);
        }

    /* THIS IS ERICKA */

        .ericka-container {
            margin: 10vh auto 10vh auto;
        }

            .ericka-container > .row {
                width: 100%;
                margin: 0;
            }

                .photo-col {
                    background-color: #e4d8d8;
                }

                    .inside-words {
                        position: relative;
                        height: 47vmin;
                    }

                    .img-ericka, .img-leaves, .img-back {
                        height: 27vmin;
                        width: 27vmin;
                        bottom: 15vmin;
                        left: -28.3333vmin;
                    }

                    .img-leaves {
                        bottom: 24.4vmin;
                        left: -20.3333vmin;
                    }

                    .img-back {
                        bottom: 14.1vmin;
                        left: -26.9333vmin;
                    }

                    #nice-words {
                        /*font-size:  calc((168px * 361)/704);*/
                        left: -56.3333vmin;
                        top: 15vmin;
                    }

    /* SERVICES */

        .services-section {
            margin-top: 15vh;
        }

            .services-bg-container {
                height: 68vh;
                width: 100vw;
                align-items: center;
            }

                .quote-container {
                    /*left: 50%;*/
                    height: 15vh;
                    font-size: 1rem;
                    top: 0;
                }

                .services-inner-container {
                    padding-top: 1%;
                    height: max-content;
                    width: 95%;
                }

                .service-row {
                    display: flex;
                    width: 95%;
                    align-content: baseline;
                    background-color: #f4f2f1;
                    justify-content: center;
                }

                    /* 1ST SERVICE-ROW */
                    .services-bg-container div:nth-child(3) {
                        margin: 12rem 1rem 0 1rem;
                        padding: 25px 0 12px 0;
                    }

                    /* 2ND & 3RD SERVICE-ROW */
                    .services-bg-container div:nth-child(n+4) {
                        margin: -1px auto 0 auto;
                        padding: 12px 0 12px 0;
                    }

                        .blurb {
                            /*flex: 1;*/
                            margin: 0 1rem 0 1rem;
                            padding: 0.5rem;
                            border: 1px solid black;
                            width: 100%;
                        }

                            .blurb hr {
                                margin-right: 55%;
                            }

                        .service-image {
                            margin-right: 1rem;
                            margin-left: 1rem;
                            aspect-ratio: 3 / 1;
                            width: calc((65.7894% * 4)/1);
                        }
    }

    @media screen and (min-width: 992px) {

    /* BANNER */

        .banner-img {
            height: 15vmax;
        }

        /* BACKGROUND FLOWER THING */

        #flower-container {
            display: block;
        }

    /* THIS IS ERICKA */

        .inside-words {
            height: 45vmin;
        }

    /* SERVICES */

        .services-bg-container {
            height: 90vh;
        }

    /* FORM */

        .form-section {
            margin-top: 40vmax !important;
        }
    }

    @media screen and (min-width: 1140px) {

    /* THIS IS ERICKA */

        .img-ericka, .img-leaves, .img-back {
            left: -32.3333vmin;
        }

        .img-leaves {
            left: -24.3333vmin;
        }

        .img-back {
            left: -30.9333vmin;
        }

        #nice-words {
            left: -60.3333vmin;
        }

    /* SERVICES */

        /*.services-bg-container {
            height: 49vw;
        }*/

        .service-row {
            width: 1083px;
        }
}

    @media screen and (min-width: 1320px) {
        /* THIS IS ERICKA */

        .img-ericka, .img-leaves, .img-back {
            height: 35vmin;
            width: 35vmin;
            left: -55.3333vmin;
            bottom: 6vmin;
        }

        .img-leaves {
            left: -47.3333vmin;
            bottom: 17.47vmin;
        }

        .img-back {
            left: -53.9333vmin;
            bottom: 4.5vmin;
        }

        #nice-words {
            left: -82.3333vmin;
        }

        /* SERVICES */

        .quote-container {
            width: 40vw;
        }
    }


