@font-face {
    font-family: 'jenna_sueregular';
    src: url("webfontkit-jennasue/jennasue-webfont.woff2") format('woff2'),
    url('webfontkit-jennasue/jennasue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f4f2f1;
}

/* NAVIGATION */

    .nav-container {
        padding-left: 0;
        padding-right: 0;
    }

        .navbar-brand {
            margin: 0 auto;
        }

        #nav-button {
            background-color: #8667ab;
            margin: 0 auto;
        }

    #back-flower-thing {
        height: 750px;
        width: 750px;
    }

/* BANNER */

    #banner-section > .row {
        --bs-gutter-x: 0;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    #banner-section #ericka {
        justify-content: end;
    }

    #banner-section #heart {
        justify-content: center;
    }

    #banner-section #hair {
        justify-content: start;
}

/* INSPIRATIONAL QUOTE */

    .insp-container {
        margin-top: 3vmax;
        height: 17vmax;
    }

        .insp-first-line, .insp-second-line,
        .insp-first-line + .placeholder, .insp-second-line + .placeholder {
            font-family: jenna_sueregular, serif;
            /*font-size: 3.18rem;*/
            font-size: calc(3.25rem + 1vw);
            color: whitesmoke;
            /*letter-spacing: 1px;*/
            line-height: 70%;
            width: max-content;
            right: 15%;
            background-color: #D4AEB0;
            z-index: 2;
        }

        .insp-first-line {
            top: 10%;
        }

        .insp-second-line {
            bottom: 10%;
        }

        .insp-first-line + .placeholder, .insp-second-line + .placeholder {
            color: rgba(134, 103, 171, 0);
            background-color: #90877B;
            right: 14%;
            z-index: 1;
        }

        .insp-first-line + .placeholder {
            top: 13%;
        }

        .insp-second-line + .placeholder {
            bottom: 9%;
        }

/* THIS IS ERICKA */

    .ericka-container {
        margin: 100px auto 125px auto;
    }

        .ericka-container > .row {
            /*width: 303px;*/
            width: 79%;
        }

            .inside-words {
                background-color: #e4d8d8;
                /*height: 695px;*/
                height: 101vmax;
            }

            /* TODO: May need to edit the imgs below to specific width and height */
            .img-ericka, .img-leaves, .img-back {
                /*height: 275px;*/
                /*width: 275px;*/
                height: 64.3vmin;
                width: 64.3vmin;
                bottom: -7%;
                left: 15%;
                z-index: 3;
            }

            .img-leaves {
                /*height: 250px;
                width: 250px;*/
                /*bottom: 8%;*/
                bottom: 17.47vmin;
                left: 0;
                z-index: 2;
            }

            .img-back {
                bottom: -8%;
                left: 17%;
                z-index: 1;
            }

            .nice-words {
                font-family: jenna_sueregular, serif;
                font-size:  calc(5rem + 1vw);
                letter-spacing: 3px;
                color: rgba(134, 103, 171, 0.5);
                transform: rotate(270deg);
                left: -2em;
                top: 16%;
            }

    /*#fourth-section-container {
        height: 500px;
        margin: 150px 0 150px 0;
        align-self: stretch;
    }

        .side-section {
            background-color: #e4d8d8;
            height: 500px;
            position: relative;
        }

            .img-container {
                height: auto;
                z-index: 1;
                margin-top: 8%;
            }

                .img-ericka-flex {
                    position: absolute;
                    z-index: 3;
                }

                .img-leaves-flex {
                    position: absolute;
                    z-index: 2;
                    margin-top: -11%;
                    left: 11%;
                    width: auto;
                }

                .img-back-flex {
                    position: absolute;
                }

                     #img-back {
                        margin-top: 2%;
                        margin-left: 2%;
                    }

            .buffer {
                flex: 2;
            }

            .inside-words {
                margin-top: 5%;
                flex: 3;
            }

            #nice-words-bottom {
                font-family: jenna_sueregular, serif;
                font-size: 8vmax;
                color: #8667ab;
                position: absolute;
                bottom: -18%;
            }*/

/* ANOTHER QUOTE */

    .another-quote {
        font-family: jenna_sueregular, serif;
        font-size: calc(4rem + 1vw);
    }


/* SERVICES */

    .services-section {
        margin-top: 150px;
    }

        .services-bg-container {
            height: 275vh;
            margin-bottom: 250px;
            z-index: 1;
            background-image: url("/images/flower-bg.jpg");
            background-repeat: no-repeat;
        }

            .quote-container {
                width: 75%;
                height: 50vh;
                /*height: auto;*/
                top: 5%;
                left: 48%;
                transform: translateX(-50%) translateY(-50%);
                background-color: #8667ab;
                opacity: 90%;
                font-size: 1.5rem;
            }

                /*.quote-words {
                    font-size: 1.75rem;
                }*/

                /*.quotation-mark-container {
                    transform: translateY(-72%) scale(45%);
                    left: 50vw;
                    top: -25%;
                    left: 75%;
                }*/

                    /*.img-quote {
                        transform: rotate(180deg);
                    }*/

            .services-inner-container {
                height: 250vh;
                width: 68vw;
                top: 18%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
            }

                .services-inner-container > .container-fluid {
                    background-color: #f4f2f1;
                    /*backdrop-filter: blur(20px);*/
                    z-index: 3;
                }

                    .img-services {
                        max-width: 90%;
                        height: auto;
                    }

                    .services-words {
                        width: 90%;
                        height: auto;
                        background-color: white;
                    }

/* FORM */

    .form-section {
        background-color: #e4d8d8;
    }

        .form-section #submit-btn {
            background-color: #8667ab;
        }

/* FOOTER */

    .list-group-item {
    background-color: #f4f2f1;
    border: none;
    }

        .facebook {
    color: blue;
    }

        .instagram .fab {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

        .design {
            font-size: calc(.75rem + .5vw);
        }

/* MEDIA */

    @media screen and (min-width: 768px) {

    /* THIS IS ERICKA */


    /* SERVICES */
        .services-bg-container {
            height: 68vh;
        }

            .quote-container {
                width: 50vw;
                height: 12vh;
                /*top: -3%;*/
                font-size: 1rem;
            }

            /*.quotation-mark-container {
                top: -30%;
                left: 75%;
                transform: scale(45%);
            }*/

            .services-inner-container {
                padding-top: 1%;
                height: max-content;
                width: 95%;
            }

                .img-services {
                    /*object-fit: cover;*/
                    width: 100%;
                    /*max-width: 90%;*/
                    height: 25%;
                }

                .services-words {
                    width: 100%;
                    height: 25%;
                }
    }

    @media screen and (min-width: 992px) {

    /* THIS IS ERICKA */
        /*.side-section {
            height: 425px;
        }

        #img-leaves {
            width: 80%;
            margin-top: -7%;
            margin-left: 5%;
        }

        #img-ericka {
            width: 80%;
        }

        #img-back {
            width: 77%;
        }

        #nice-words-bottom {
            font-size: 9vmax;
            bottom: -13%;
        }*/

        /* SERVICES */
        .services-bg-container {
            height: 150vh;
        }

            .services-inner-container {
                top: 10%;
            }

        /*.quotation-mark-container {
            top: -40%;
            left: 85%;
            transform: scale(45%);
        }*/
    }

    @media screen and (min-width: 1320px) {
        .img-container {
            margin-top: 13%;
        }

        .inside-words {
            flex: 2;
        }

        #img-leaves {
            width: 95%;
            margin-top: -7%;
            margin-left: 5%;
        }

        #img-ericka, #img-back {
            width: 95%;
        }

        #nice-words-bottom {
            font-size: 10vmax;
            bottom: -16%;
        }

        /* SERVICES */
        .services-bg-container {
            height: 115vh;
        }
    }

    @media screen and (min-width: 1140px) {
        #img-leaves {
            width: 90%;
            margin-top: -7%;
            margin-left: 5%;
        }

        #img-ericka, #img-back {
            width: 90%;
        }

        #nice-words-bottom {
            font-size: 10vmax;
            bottom: -13%;
        }
    }
